<a href="https://colab.research.google.com/github/Pilli-Venkat/Machine-Learning/blob/main/k_Nearest_Neighbor_(kNN)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [74]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report , confusion_matrix

dataset : https://gist.github.com/omairaasim/1437d57bc945ab74729eaa30fd022fbf#file-project_10_dataset_sample-csv

In [75]:
dataset = pd.read_csv('/content/project_10_dataset_sample.csv')

In [76]:
dataset.head()

   Gender  Age  Salary  Purchased Iphone
0    Male   19   19000                 0
1    Male   35   20000                 0
2  Female   26   43000                 0
3  Female   27   57000                 0
4    Male   19   76000                 0

In [91]:
print(f'Total null values : {dataset.isnull().sum().sum()}')

Total null values : 0

# Label Encoding

In [78]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
dataset.Gender = encoder.fit_transform(dataset.Gender)

In [79]:
dataset.head()

   Gender  Age  Salary  Purchased Iphone
0       1   19   19000                 0
1       1   35   20000                 0
2       0   26   43000                 0
3       0   27   57000                 0
4       1   19   76000                 0

# Splitting of the dataset

In [80]:
X = dataset.iloc[:,:-1].values
X = np.vstack(X[:, :]).astype(np.float)
y= dataset.iloc[:,-1].values

In [81]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.25,random_state=0)

# Feature Scaling

In [82]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

# KNN Model

In [83]:
knn_model = KNeighborsClassifier(n_neighbors=5, metric="minkowski",p=2)
knn_model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [84]:
y_pred = knn_model.predict(X_test)

# Logistic Regression

In [86]:
from sklearn.linear_model import LogisticRegression
l_model = LogisticRegression()
l_model.fit(X_train,y_train)
y_pred_l = l_model.predict(X_test)

# Metrics

In [88]:
print('KNN model')
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred) 
print(cm)
accuracy = metrics.accuracy_score(y_test, y_pred) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, y_pred) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, y_pred) 
print("Recall score:",recall)
print(classification_report(y_test,y_pred))

KNN model
[[4 0]
 [1 0]]
Accuracy score: 0.8
Precision score: 0.0
Recall score: 0.0
              precision    recall  f1-score   support

           0       0.80      1.00      0.89         4
           1       0.00      0.00      0.00         1

    accuracy                           0.80         5
   macro avg       0.40      0.50      0.44         5
weighted avg       0.64      0.80      0.71         5

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [89]:
print('Logistic Regression')
cm = metrics.confusion_matrix(y_test, y_pred) 
print(cm)
accuracy = metrics.accuracy_score(y_test, y_pred_l) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, y_pred_l) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, y_pred_l) 
print("Recall score:",recall)
print(classification_report(y_test,y_pred_l))

Logistic Regression
[[4 0]
 [1 0]]
Accuracy score: 1.0
Precision score: 1.0
Recall score: 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00         1

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5